/* This stuff for slides */
.slide {
	width: 1920px;
	height: 1080px;
	background-size: contain;
	background-repeat: no-repeat !important;
	display: inline-block;

	font-size: 40px;

	padding: 2.5%;
	border: 1px solid;

	position: relative;
	
	span {
		display: inline-block;
		width: 100%;

		margin: 1ex;
	}

	span.summary {
		font-size: 150%;
	}
	span.description {
		margin-left: 2em;
		margin-right: 1em;
		width: auto;
	}
	span.start, span.end, span.duration {
		display: none;
	}
	span.recurrence {
		text-align: right;
		position: absolute;
		bottom: 5%;
		right: 5%;
	}
}
@import "/templates/blue_flowers.less";
@import "/templates/brown_vintage.less";
@import "/templates/paisly_on_black.less";

/** This stuff for the page */

/* select with CSS theme thumbnails */
.ui-menu.thumbnail .ui-menu-item-wrapper {
	padding-left: 75px;
	height: 75px;
}
.ui-menu.thumbnail .ui-menu-item .ui-icon {
	background-repeat: no-repeat !important;
	background-size: contain;
	width: 64px;
	height: 64px;
}

#output {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	max-height: 250px;
}
#output .thumbnail {
	max-width: 350px;
}

.thumbnail .slide {
	transform: translate(-40%, -40%) scale(0.15);
	cursor: pointer;
}