/* This stuff for slides */
.slide {
	width: 1920px;
	height: 1080px;
	background-size: contain;
	background-repeat: no-repeat !important;
	display: inline-block;

	font-size: 40px;

	padding: 2.5%;
	border: 1px solid;

	position: relative;
	
	span {
		display: inline-block;
		width: 100%;

		margin: 1ex;
		
		z-index: 10;
	}

	span.summary {
		font-size: 150%;
	}
	span.description {
		margin-left: 2em;
		margin-right: 1em;
		width: auto;
	}
	span.start, span.end, span.duration {
		display: none;
	}
	span.recurrence {
		text-align: right;
		position: absolute;
		bottom: 5%;
		right: 5%;
	}

	/* P is used for linebreaks, since <br /> is invalid in SVG */
	p {
		margin: 0px;
	}

	div.attach {
		width: 100%;
		height: 100%;
		background-repeat:no-repeat;
	}
}
@import "/templates/blue_flowers.less";
@import "/templates/brown_vintage.less";
@import "/templates/paisly_on_black.less";

/** This stuff for the page */

/* select with CSS theme thumbnails */
.ui-menu.thumbnail .ui-menu-item-wrapper {
	padding-left: 75px;
	height: 75px;
}
.ui-menu.thumbnail .ui-menu-item .ui-icon {
	background-repeat: no-repeat !important;
	background-size: contain;
	width: 64px;
	height: 64px;
}

#output {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	max-height: 250px;
}
#output .thumbnail {
	overflow:hidden;
	height: 200px;
	width: 300px;
	position: relative;
	flex: 1 0 auto;
}

.thumbnail .slide {
	transform-origin: top left;
	transform: scale(0.15);
	cursor: pointer;

	transition: 0.5s;

	&:hover {
		transform: scale(0.20);
		z-index: 10;
	}
}