.slide.paisly_on_black {
  background-image: data-uri('../../images/paisly_on_black.jpg');
  color: #eeeeee;

  div.attach {
	  background-position: top right;
	  
	  width: 50%;
	  height: 50%;

	  position: absolute;
	  top: 5em;
	  right: 0px;

	  filter: grayscale(40%);

  }
}